<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
借用原因:<input type="text"  disabled="disabled" id="txt"/>
        <select id="test" onchange="tt(this.id)">
            <option value="1">自己使用</option>
            <option value="2">部门使用</option>
            <option value="3">其它</option>
        </select>
        <script>
            function tt(id) {
                var aa = document.getElementById(id);
                var i = aa.selectedIndex;
                var text = aa.options[i].text;
                var value = aa.options[i].value;
                if(value == 3) {

                    text = "请手动填写原因";
                document.getElementById("txt").disabled=false;
                }
                document.getElementById("txt").value = text;
            }


        </script>

</body>
</html>